.admin-page{
    display: flex;
}
.admin-form-section{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    background-color: #ccc6c681;
}
.admin-search-form{
    margin: auto;
    margin-top: 2rem;
    font-size: 1.25rem;
    background-color: #57bbb5;
    color: white;
    padding: 20px;
    border-radius: 2%;    
    position: absolute;
    top: 0;
    left: 50%;
    & form{
        padding: 20px;
    }
    & .form-group{
        margin: 20px 0;
    }
    & input{
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 2px solid white;
    }

    & select , & input {
        font-family: 'Titillium Web', sans-serif;
    }

    .btn{
        color: #57bbb5;
        padding: 5px;
        background-color: #fff;
        font-weight: 500;
    }
}
.admin-div{
    margin: 2rem auto;
    width: 40%;
}
.admin-btns-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    & button{
        background-color: #57bbb5;
        border: 2px solid white;
        color: white;
        padding: 10px;
        width: 35%;
        margin: auto;
    }
}
.x-btn{
    position: absolute;
    right: 5px;
    top: 5px;
    color: #57bbb5;
    background-color: #fff;
    /* border-radius: 40%; */
    padding: 10px;
    border: none;
}