.login-page{

    margin: auto;
    text-align: center;
    background-color: #57bbb5;
    width: 60%;
    border-radius: 20px;
    padding: 10px;

    & h1{
        color: white;
    }

    & .form-group{
        margin: 10px auto;
    }

    & input{
        margin-top: 20px;
    }

    & .btn{
        background-color: #fff;
        color: #57bbb5;
        border: none;
        outline: none;
        padding: 10px;
        border-radius: 10%;
    }

}